body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  font-family: 'Poppins', sans-serif;
} */

/* * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* Chrome, Safari, Edge, Opera */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button {
  display: none;
}

/* Firefox */
input[type='password'] {
  -webkit-text-security: disc;
}
